type charge_logger, domain;
allow charge_logger vendor_sysfs_battery_supply:dir rw_dir_perms;
allow charge_logger vendor_sysfs_usb_supply:dir rw_dir_perms;
allow charge_logger vendor_sysfs_bms_supply:dir rw_dir_perms;
allow charge_logger vendor_sysfs_battery_supply:file rw_file_perms;
